{
  "extends": "airbnb-typescript-prettier",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "rules": {
        "prettier/prettier": ["error", { "singleQuote": true }],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "off"
      }
    }
  ],
  "parser": "@typescript-eslint/parser"
}
