@use 'sass:math';

@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch {
  position: relative;
  animation: glitch-skew 1s infinite linear alternate-reverse;

  &::before {
    @include glitchCopy;
    left: 2px;
    text-shadow: -2px 0 #{'var(--glitch-color-1)'};
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 7s infinite linear alternate-reverse;
  }

  &::after {
    @include glitchCopy;
    left: -2px;
    text-shadow: -2px 0 #{'var(--glitch-color-2)'},
      2px 2px #{'var(--glitch-color-1)'};
    animation: glitch-anim2 4s infinite linear alternate-reverse;
  }
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(math.div(1, $steps)))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew(math.div(random(100), 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(math.div(1, $steps)))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew(math.div(random(100), 100) + deg);
    }
  }
}
